/* style overide */


/* info and errors */
.fetured-header {
    font-size: 1.4em;
    font-stretch:expanded;
    font-weight:400;
    clear: both;
    color:green;
   
}

/* info and errors */
.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
    width:650px;
    color:green;
   
}

input[type="submit"],
input[type="button"],
button {
    font-weight: 400;
    border-radius: 3px 4px;
}

.cartbuttons {
    margin-left:410px;
    margin-top:-40px;
    text-align:left;
    width:700px;
}

.product_description {
    border: 1px solid green;
    clear: both;
    padding: 5px 20px 5px 20px;
    margin: 10px 0px 10px 0px;
    width:400px;
    height:80px;
   
}


.product_image {
    margin-left:450px;
    margin-top:-165px;
    text-align:left;
    height:200px;
    
}

   input[type=checkbox], 
    input[type=radio] {
   display          :inline-block;
  width            : 0.875em;
  height           : 0.875em;
  margin           : 0.25em 0.5em 0.25em 0.25em;
  border           : 0.0625em solid rgb(192,192,192);
  border-radius    : 0.25em;
  background       : rgb(224,224,224);
  background-image :    -moz-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :     -ms-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :      -o-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image : -webkit-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :         linear-gradient(rgb(240,240,240),rgb(224,224,224));

}

span .aspNetDisabled {
    
    display:block;
}

label {
    display:inline;
}